h2 {
    text-transform: uppercase;
    margin: 20px 0 10px 0;;
}

.Pokedex-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.winner {
    width: 100px;
    margin-left: 20px;
    background-color: pink;
    text-align: center;
    font-weight: bold;
    animation: blinker 3s linear infinite;
}

.sumWinner {
    display: flex;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}